NEXT_PUBLIC_API_BASE_URL=https://devapi.nanaorganics.co
NEXT_PUBLIC_USE_MOCK_API=false
NEXT_PUBLIC_VENDURE_SHOP_API_URL=https://devapi.nanaorganics.co/shop-api
NEXT_PUBLIC_VENDURE_CHANNEL_TOKEN=ox2uo1rg16nzi3c5ibu
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
ALLOW_LOCAL_IMAGE_IP=false
