/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e6efef;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1ea766;
  border-radius: 3px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1ea766;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1ea766 #e6efef;
}
